/ssh/id_*
/ssh/id_rsa
/ssh/*_rsa*
/ssh/known_hosts
/gnupg/*.d/
/gnupg/*.db
/gnupg/*.gpg
/gnupg/*.kbx
/gnupg/*.private.*
/gnupg/.*
bundle/cache
secrets
rbenv/*/
Brewfile.lock.json
ssh/podman-machine-default
ssh/podman-machine-default.pub
